/*** Rules of Thumb for Responsive Units ***/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
.test0 {
  background: #979AA0;
  margin-top: 2em;
}

.test1 {
  background: #c7c1ab;
}

.test2 {
  background: #ecece8;
}

.test3 {
  background: #f7ebdd;
}

.test4 {
  background: #dbb37e;
}

.test5 {
  background: #935614;
}

/*** Globals ***/
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", "IBM Plex Sans", "Roboto", sans-serif;
  font-variant: slashed-zero;
  font-size: 16px;
  color: #121212;
  line-height: 1.3;
}

h1, h2, h3, h4 {
  margin: 0;
  white-space: nowrap;
  text-align: left;
  cursor: default;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 0 0.1em;
  white-space: initial;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
}

/*** Inputs ***/
input[type=text],
input[type=number],
select {
  background: #F8F8F8;
  color: #121212;
  border: 1px solid #979AA0;
  border-radius: 0.2em;
  height: 2em;
  margin: 0;
}

input[type=text] {
  padding: 0.5em 0.5em;
}

input[type=text]:placeholder-shown {
  font-style: italic;
}

input[type=number] {
  width: max-content0.5em;
  padding: 0 0.5em;
}

select {
  padding: 0 0.2em;
}

/*** Buttons ***/
.btn {
  height: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0.35rem 0.9rem;
  border-radius: 5px;
  background: none;
  border: none;
}

.btn-edit-mode {
  height: 2.25rem;
  width: 2.5rem;
  padding: 0 0.1rem 0.2rem 0.3rem;
  background: #eeeeee;
}
.btn-edit-mode .icon-button {
  height: 1em;
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%);
}

.btn-edit-mode:hover,
.btn-edit-mode:focus {
  border: 1px solid #808080;
}

.btn-edit-mode:active {
  background: #ddd;
  border: 1px solid #808080;
}

.btn-clipboard {
  background: green;
}

.btn-reset,
.btn-cancel {
  background: #c82333;
  color: #ffffff;
  margin: 0 4px;
}

.btn-reset {
  padding: 0 8px;
  width: 4.5em;
}

.btn-replacement-toggle {
  width: max-content;
  background: lightgray;
  color: #212f29;
  border: none;
}

.btn-replacement-toggle:hover,
.btn-replacement-toggle:focus {
  background: #5a6268;
}

.btn-save,
.btn-submit {
  background: #935614;
  color: #F2F2F2;
}

.btn-save:hover,
.btn-save:focus,
.btn-submit:hover,
.btn-submit:focus {
  background: #dbb37e;
  color: #241933;
}

.btn-delete {
  border: none;
  border-radius: 10px;
  height: 1rem;
  width: 1rem;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-delete:hover,
.btn-delete:focus {
  background: black;
}

/*** Page-Level ***/
.app-container {
  background: #F8F8F8;
  margin: 0 auto;
  font-style: normal;
  max-width: 1200px;
  text-align: center;
}

.navbar-custom-container,
.content-container,
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  margin: 0.65em;
}

.loading-icon-title {
  height: 2em;
}

.page-title {
  padding-bottom: 0.15em;
}

.page-title-border {
  border-bottom: 1px solid gray;
}

.difficulty-icon {
  height: 21px;
  position: relative;
  margin: 0 5px;
}

.difficulty-icon .difficulty-tooltip-text {
  width: auto;
  background-color: #282c34;
  color: #EEEEEE;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.difficulty-icon:hover .difficulty-tooltip-text {
  display: block;
}

.icon-delete {
  background-color: #F8F8F8;
  height: 100%;
}

.tooltipz2 {
  visibility: hidden;
  background: #282c34;
  color: #EEEEEE;
}

.navbar-custom-link {
  font-size: larger;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-custom-link-dropdown {
  font-size: medium;
}

.icon-ext-link {
  display: inline;
  max-height: 0.55rem;
  max-width: 0.55rem;
  margin-left: 4px;
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%);
}

.icon-transparent {
  background: #F8F8F8;
}

/*** Add Recipe/Step ***/
.add-recipe-container,
.add-step-container {
  background: #c7c1ab;
  padding: 1em;
  text-align: left;
  margin-top: 0.5em;
  border-radius: 3px;
  min-width: 280px;
}
.add-recipe-container .btn-add,
.add-step-container .btn-add {
  background: #ecece8;
  border: 1px solid #c7c1ab;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
  height: 2em;
  width: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-recipe-container .btn-add .icon-add,
.add-step-container .btn-add .icon-add {
  background: #ecece8;
  margin-right: 0.2em;
  height: 1.1em;
}

.add-recipe-form,
.add-step-form {
  background: #ecece8;
  border-radius: 10px;
  margin: 0.5em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.add-recipe-form .button-group,
.add-step-form .button-group {
  text-align: left;
}
.add-recipe-form .button-group .btn-cancel,
.add-step-form .button-group .btn-cancel {
  display: none;
}
.add-recipe-form .add-recipe-form-group,
.add-recipe-form .add-step-form-group,
.add-step-form .add-recipe-form-group,
.add-step-form .add-step-form-group {
  padding: 0.25em;
  display: flex;
  align-items: center;
  min-width: 500px;
}
.add-recipe-form .add-recipe-form-group .add-recipe-form-label,
.add-recipe-form .add-step-form-group .add-recipe-form-label,
.add-step-form .add-recipe-form-group .add-recipe-form-label,
.add-step-form .add-step-form-group .add-recipe-form-label {
  margin: auto 0.25em auto;
  min-width: 140px;
  width: 20%;
}
.add-recipe-form .add-recipe-form-group .add-recipe-form-input-group,
.add-recipe-form .add-step-form-group .add-recipe-form-input-group,
.add-step-form .add-recipe-form-group .add-recipe-form-input-group,
.add-step-form .add-step-form-group .add-recipe-form-input-group {
  white-space: nowrap;
  min-width: 180px;
  width: 80%;
}
.add-recipe-form .add-recipe-form-group .add-recipe-form-input-group .input-picklist,
.add-recipe-form .add-step-form-group .add-recipe-form-input-group .input-picklist,
.add-step-form .add-recipe-form-group .add-recipe-form-input-group .input-picklist,
.add-step-form .add-step-form-group .add-recipe-form-input-group .input-picklist {
  min-width: calc(70% - 61px);
  width: 70%;
  margin-right: 0.3em;
}
.add-recipe-form .add-recipe-form-group .add-recipe-form-input-group .difficulty-icon,
.add-recipe-form .add-step-form-group .add-recipe-form-input-group .difficulty-icon,
.add-step-form .add-recipe-form-group .add-recipe-form-input-group .difficulty-icon,
.add-step-form .add-step-form-group .add-recipe-form-input-group .difficulty-icon {
  min-width: 50px;
}
.add-recipe-form .add-recipe-form-group .add-step-form-label,
.add-recipe-form .add-step-form-group .add-step-form-label,
.add-step-form .add-recipe-form-group .add-step-form-label,
.add-step-form .add-step-form-group .add-step-form-label {
  margin: auto 0.25em auto;
  min-width: 110px;
  width: 10%;
}
.add-recipe-form .add-recipe-form-group .add-step-form-input-group,
.add-recipe-form .add-step-form-group .add-step-form-input-group,
.add-step-form .add-recipe-form-group .add-step-form-input-group,
.add-step-form .add-step-form-group .add-step-form-input-group {
  white-space: nowrap;
  min-width: 200px;
  width: 90%;
}
.add-recipe-form .add-recipe-form-group .then-wait-helper-text,
.add-recipe-form .add-step-form-group .then-wait-helper-text,
.add-step-form .add-recipe-form-group .then-wait-helper-text,
.add-step-form .add-step-form-group .then-wait-helper-text {
  opacity: 0.6;
  margin-left: 0.25em;
  margin-right: 0.5em;
}
.add-recipe-form .add-recipe-form-group #action,
.add-recipe-form .add-step-form-group #action,
.add-step-form .add-recipe-form-group #action,
.add-step-form .add-step-form-group #action {
  max-width: 250px;
}

@media (max-width: 599px) {
  .add-recipe-container,
.add-step-container {
    padding: 0.25em;
  }

  .add-recipe-form .add-recipe-form-group,
.add-recipe-form .add-step-form-group,
.add-step-form .add-recipe-form-group,
.add-step-form .add-step-form-group {
    width: 100%;
    min-width: unset;
  }
  .add-recipe-form .add-recipe-form-group .add-recipe-form-label,
.add-recipe-form .add-step-form-group .add-recipe-form-label,
.add-step-form .add-recipe-form-group .add-recipe-form-label,
.add-step-form .add-step-form-group .add-recipe-form-label {
    width: 15%;
    min-width: 120px;
  }
  .add-recipe-form .add-recipe-form-group .add-step-form-label,
.add-recipe-form .add-step-form-group .add-step-form-label,
.add-step-form .add-recipe-form-group .add-step-form-label,
.add-step-form .add-step-form-group .add-step-form-label {
    width: 8%;
    min-width: 100px;
  }
}
@media (max-width: 494px) {
  .add-recipe-form,
.add-step-form {
    padding: 0.5em;
  }
  .add-recipe-form .add-recipe-form-group,
.add-recipe-form .add-step-form-group,
.add-step-form .add-recipe-form-group,
.add-step-form .add-step-form-group {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .add-recipe-form .add-recipe-form-group .add-recipe-form-label,
.add-recipe-form .add-recipe-form-group .add-step-form-label,
.add-recipe-form .add-step-form-group .add-recipe-form-label,
.add-recipe-form .add-step-form-group .add-step-form-label,
.add-step-form .add-recipe-form-group .add-recipe-form-label,
.add-step-form .add-recipe-form-group .add-step-form-label,
.add-step-form .add-step-form-group .add-recipe-form-label,
.add-step-form .add-step-form-group .add-step-form-label {
    margin-left: 0;
    margin-bottom: 0.3em;
    width: 100%;
  }
  .add-recipe-form .add-recipe-form-group .add-recipe-form-input-group,
.add-recipe-form .add-recipe-form-group .add-step-form-input-group,
.add-recipe-form .add-step-form-group .add-recipe-form-input-group,
.add-recipe-form .add-step-form-group .add-step-form-input-group,
.add-step-form .add-recipe-form-group .add-recipe-form-input-group,
.add-step-form .add-recipe-form-group .add-step-form-input-group,
.add-step-form .add-step-form-group .add-recipe-form-input-group,
.add-step-form .add-step-form-group .add-step-form-input-group {
    width: 100%;
  }
}
@media (max-width: 399px) {
  .content-container {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  .add-recipe-form,
.add-step-form {
    margin: 0.15em 0;
    padding: 0.15em;
  }
  .add-recipe-form .add-recipe-form-group .btn-submit,
.add-recipe-form .add-step-form-group .btn-submit,
.add-step-form .add-recipe-form-group .btn-submit,
.add-step-form .add-step-form-group .btn-submit {
    margin-top: 0.3em;
    width: 100%;
  }
}
/*** Recipe Attributes ***/
.recipe-attributes-container {
  margin: 0.5em 0 1em;
  display: grid;
  grid-template: 1fr/repeat(2, minmax(min-content, 250px));
  grid-gap: 0.5em 3em;
  cursor: default;
}
.recipe-attributes-container .recipe-attribute {
  display: grid;
  grid-template: 1fr/1fr 4fr;
  text-align: left;
}
.recipe-attributes-container .recipe-attribute .attribute-label,
.recipe-attributes-container .recipe-attribute .attribute-value {
  display: flex;
  align-items: flex-end;
  width: min-content;
  min-width: 95px;
  white-space: nowrap;
  vertical-align: baseline;
}
.recipe-attributes-container .recipe-attribute .attribute-label {
  flex-grow: 0;
  margin-right: 1em;
  font-size: 1.15rem;
  font-weight: 700;
}
.recipe-attributes-container .recipe-attribute .attribute-value {
  flex-grow: 1;
  white-space: nowrap;
  font-size: 1.1rem;
}
.recipe-attributes-container .attr-author .attribute-label,
.recipe-attributes-container .attr-source .attribute-label {
  margin-right: 0.5em;
}

@media (max-width: 699px) {
  .recipe-attributes-container {
    grid-gap: 0.5em 1.25em;
  }
}
@media (max-width: 569px) {
  .recipe-attributes-container {
    grid-template: repeat(4, 1fr)/1fr;
    grid-gap: 0.2em;
  }
  .recipe-attributes-container .attr-author .attribute-label,
.recipe-attributes-container .attr-source .attribute-label {
    margin-right: 1em;
  }
  .recipe-attributes-container .attribute-label,
.recipe-attributes-container .attribute-value {
    flex-grow: 0;
  }
}
/*** Start/Finish Controls ***/
.start-finish-container {
  margin: 0.5em 0;
  display: grid;
  grid-template: 1fr/1fr 2fr 0.5fr;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
  width: max-content;
  white-space: nowrap;
}
.start-finish-container .btn-save {
  margin: auto 0.5em;
  height: 2em;
  width: min-content;
  background: #935614;
  color: #F2F2F2;
  line-height: 1;
}
.start-finish-container .btn-save:hover,
.start-finish-container .btn-save:focus {
  background: #dbb37e;
  color: #241933;
}
.start-finish-container .start-finish-datepicker {
  z-index: 10;
}
.start-finish-container .start-finish-toggle-container {
  padding: 2px 1px 2px 0;
}
.start-finish-container .start-finish-toggle-container .btn-start-finish-toggle {
  border: none;
  border-bottom: 1px dotted gray;
  border-radius: 0;
  margin: 0;
  padding: 0 5px;
  height: min-content;
  width: max-content;
  vertical-align: center;
}
.start-finish-container .start-finish-toggle-container .btn-start-finish-toggle:hover,
.start-finish-container .start-finish-toggle-container .btn-start-finish-toggle:focus {
  border: none;
  border-bottom: 1px solid gray;
}
.start-finish-container .start-finish-toggle-container::before {
  display: none;
  position: absolute;
  content: attr(title);
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8em;
  border-radius: 5px;
  width: max-content;
  padding: 2px 6px;
  white-space: nowrap;
  transform: translateY(147%);
}
.start-finish-container .start-finish-toggle-container:hover::before,
.start-finish-container .start-finish-toggle-container:hover::after {
  display: inline-block;
}
.start-finish-container .start-finish-toggle-container::after {
  display: none;
  position: absolute;
  content: "";
  z-index: 1;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  transform: translateY(200%) translateX(-400%);
}

/*** Text Conversion Page ***/
.text-conversion-arrow {
  width: 5%;
}

.text-conversion-list-item {
  font-family: CMUTypewriterTextRegular, monospace;
  padding: 0 2px;
  background-color: inherit;
  white-space: pre;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */
.dataTables_scrollHeadInner {
  padding-right: 0;
}

.button-clipboard-row {
  margin: 0 3px;
  padding: 0 8px;
  width: max-content;
  height: min-content;
}

.toggle-replacements {
  text-align: left;
}

.text-conversion-list-container {
  padding: 5px 5px;
  text-align: left;
}

.text-conversion-accordion {
  text-align: left;
  cursor: pointer;
}

.clipboard-confirmation {
  visibility: hidden;
  margin: 4px 0 0 8px;
  font-size: initial;
  color: forestgreen;
}

.clipboard-confirmation-enter {
  visibility: visible;
  opacity: 1;
}

.clipboard-confirmation-enter-active {
  opacity: 0;
  transition: opacity 3000ms;
}

.clipboard-confirmation-exit {
  opacity: 1;
}

.clipboard-confirmation-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

/*** Footer ***/
.footer-container {
  font-size: 0.8rem;
  margin: 2em 1em 1em;
  cursor: default;
  text-align: left;
}
.footer-container .icon-bread {
  margin: 0 0.5em;
  height: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .icon-bread {
    animation: bread-icon-spin infinite 20s linear;
  }
}
@keyframes bread-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=app.css.map */
