.app-container
  margin: 0 auto

.navbar-custom-container, .content-container, .footer-container
  max-width: 1200px
  margin: 0 auto

.app-container
  font-style: normal
  max-width: 1200px
  text-align: -webkit-center

.content-container
  padding: 6px 6px

.loading-icon-table
  height: 20px

.loading-icon-title
  height: 50px

.page-title
  font-size: xx-large
  font-weight: bold
  text-align: left
  margin-left: 5px
  cursor: default

hr
  margin-top: 2px

.table-header-row
  text-align: left
  vertical-align: center
  font-weight: bold
  margin: 5px 3px
  cursor: default

.table-edit-button
  width: auto
  height: auto
  text-align: -webkit-center

.difficulty-icon
  height: 21px
  position: relative

.difficulty-icon .difficulty-tooltip-text
  /*display: none*/
  width: auto
  background-color: #282c34
  color: #EEEEEE
  text-align: -webkit-center
  padding: 5px 0
  border-radius: 6px
  position: absolute
  z-index: 1

.difficulty-icon:hover .difficulty-tooltip-text
  display: block

.add-recipe-parent
  text-align: -webkit-left

.add-recipe-toggle-button
  height: 25px
  margin: 0 3px

.add-recipe-toggle-text
  line-height: 30px
  margin-bottom: 0
  vertical-align: center
  cursor: pointer
  width: auto
  text-align: -webkit-left

.add-recipe-form
  margin-top: 5px
  margin-left: 10px

.add-recipe-form-label
  margin-right: 8px
  alignment: right

.add-recipe-form-textbox
  alignment: right

.start-finish-datepicker
  // Long dates & times get cut off at 100%
  //width: 100%
  //width: 137%
  z-index: 1
  margin-left: 2px

.recipe-start-finish
  margin-left: 3px
  margin-bottom: 10px
  //margin-bottom: 10px
  vertical-align: center
  text-align: -webkit-left

.recipe-start-finish-table
  width: 300px
  vertical-align: center
  text-align: left

.recipe-start-finish-table-label
  text-align: -webkit-right
  vertical-align: center

.start-finish-toggle-label
  padding: 0 3px
  cursor: pointer
  font-weight: inherit
  margin-bottom: 0
  border-bottom: black
  border-bottom-style: dotted
  border-bottom-width: 1px

.start-finish-toggle-label:hover
  border-bottom-style: solid
  vertical-align: center

.text-conversion-table-bs-label
  font-size: larger
  font-weight: bold

.text-conversion-table-bs-row
  margin: 10px 0

.btn
  height: 2.5rem
  text-align: center
  margin: 0
  padding: 0.35rem 0.9rem
  border-radius: 5px
  background: none
  border: none

.btn-edit-mode
  height: 2.25rem
  width: 2.5rem
  padding: 0 0.1rem 0.2rem 0.3rem
  margin: auto
  background: #eeeeee
  .icon-button
    height: 1rem
    filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%)
    // SVG color conversion tool: https://codepen.io/sosuke/pen/Pjoqqp
    //  -> Prefix with _brightness(0) saturate(100%)_ to ensure all SVGs start completely black.
    //  -> Now we can set SVG color to #808080 gray.
.btn-edit-mode:hover,
.btn-edit-mode:focus
  border: 1px solid #808080
.btn-edit-mode:active
  background: #ddd
  border: 1px solid #808080

.btn-delete
  border: none
  border-radius: 10px
  height: 1rem
  width: 1rem
  margin: 0
  display: flex
  align-content: center
  justify-content: center
.btn-delete:hover,
.btn-delete:focus
  background: black

.icon-delete
  background-color: white
  height: 100%

.button-clipboard-row
  margin: 0 3px
  padding: 0 8px
  height: auto
  text-align: -webkit-left

.button-reset
  margin: 0 0
  padding: 0 8px
  height: auto
  text-align: -webkit-right

.text-conversion-arrow
  width: 5%

.text-conversion-list-item
  font-family: CMUTypewriterTextRegular, monospace
  padding: 0 2px
  background-color: inherit
  white-space: pre
/* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */

.dataTables_scrollHeadInner
  padding-right: 0

.table-responsive-sm
  padding-right: 0

.table-wrapper-scroll-y table
  padding-right: 0

.clipboard-confirmation
  visibility: hidden
  margin: 4px 0 0 8px
  font-size: initial
  color: forestgreen

.clipboard-confirmation-enter
  visibility: visible
  opacity: 1

.clipboard-confirmation-enter-active
  opacity: 0
  transition: opacity 3000ms

.clipboard-confirmation-exit
  opacity: 1

.clipboard-confirmation-exit-active
  opacity: 0
  transition: opacity 1000ms

.navbar-custom-link
  font-size: larger
  color: rgba(255, 255, 255, .5)

.navbar-custom-link-dropdown
  font-size: medium

.toggle-replacements
  text-align: -webkit-left

.text-conversion-list-container
  padding: 5px 5px
  text-align: -webkit-left

.text-conversion-accordion
  text-align: -webkit-left
  cursor: pointer

.icon-ext-link
  max-height: 0.55rem
  max-width: 0.55rem
  margin-left: 4px
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%)

@media (max-width: 767px)
  .app-container
    background-color: lightblue
