/*** Non-Grid Thingies ***/
.list-row-highlighted {
  background: #f2f2f2;
}

.list-header {
  padding: 0.7em 0;
  cursor: default;
  white-space: nowrap;
}

.icon-cell {
  justify-content: center;
  margin: 0;
  width: 60px;
}

.then-wait-hh-input {
  margin-right: 2px;
}

.then-wait-mm-input {
  margin-left: 2px;
}

.right-justify {
  justify-content: flex-end;
}

/*** Grid Cell Assignments ***/
.col-name {
  grid-area: name;
}

.col-difficulty {
  grid-area: diff;
  min-width: 125px;
}

.col-length {
  grid-area: len;
  min-width: 96px;
}

.col-author {
  grid-area: author;
}
.col-author .attribute-label {
  margin-right: 0;
}

.col-source {
  grid-area: source;
}

.recipe-list-cell .col-button {
  grid-area: r-button;
}

.col-step {
  grid-area: step;
  min-width: 68px;
  max-width: 80px;
  flex-grow: 0;
}

.col-when {
  grid-area: when;
  width: 98px;
}

.col-action {
  grid-area: action;
  min-width: 180px;
}

.col-then {
  grid-area: then;
}

.col-note {
  grid-area: note;
}

.step-list-cell .col-button {
  grid-area: s-button;
}

.recipe-list-container,
.step-list-container {
  display: flex;
  flex-direction: column;
  padding: 0.15em;
}

.recipe-list-row,
.step-list-row {
  display: grid;
  grid-gap: 4px;
  text-align: left;
  margin: 0;
  padding: 8px 0;
}
.recipe-list-row .recipe-list-cell,
.recipe-list-row .step-list-cell,
.step-list-row .recipe-list-cell,
.step-list-row .step-list-cell {
  margin: 0 0;
  padding: 0 0.25rem;
  max-width: max-content;
  white-space: nowrap;
}
.recipe-list-row .col-source,
.recipe-list-row .col-action,
.recipe-list-row .col-note,
.step-list-row .col-source,
.step-list-row .col-action,
.step-list-row .col-note {
  min-width: revert;
  white-space: normal;
}

.recipe-list-row {
  grid-template: 1fr/4fr 1fr 1.1fr 1.4fr 2.25fr min-content;
  grid-template-areas: "name diff len author source r-button";
}

.step-list-row {
  grid-template: 1fr/minmax(min-content, 80px) minmax(max-content, 120px) minmax(165px, 1fr) minmax(max-content, 140px) 2fr min-content;
  grid-template-areas: "step                     when                       action             then                       note s-button";
}

/*** Gettin' Responsive ***/
@media (max-width: 999px) {
  .recipe-list-row {
    grid-template: 1fr/4fr 1.1fr 1.25fr 1.5fr 2.3fr;
    grid-template-areas: "name diff len author source";
  }
  .recipe-list-row .col-button {
    display: none;
  }

  .step-list-row {
    grid-template: 1fr/minmax(min-content, 80px) minmax(max-content, 120px) minmax(165px, 1fr) minmax(max-content, 140px) 2.2fr;
    grid-template-areas: "step                     when                       action             then                       note";
  }
  .step-list-row .col-button {
    display: none;
  }
}
@media (max-width: 899px) {
  .recipe-list-row {
    grid-template: 1fr/4fr 1.1fr 1.25fr 1.5fr;
    grid-template-areas: "name diff len author";
  }
  .recipe-list-row .col-source {
    display: none;
  }
}
@media (max-width: 769px) {
  .col-author {
    display: none;
  }

  .recipe-list-row {
    grid-template: 1fr/4fr 1.3fr 1.25fr auto;
    grid-template-areas: "name diff len r-button";
  }

  .step-list-row {
    grid-gap: 0;
    flex-grow: 0;
  }

  .col-source,
.col-note {
    display: none;
  }

  .step-list-row {
    grid-template: 1fr/minmax(min-content, 80px) minmax(max-content, 120px) minmax(165px, 1fr) minmax(max-content, 140px);
    grid-template-areas: "step                     when                       action             then";
  }
}
@media (max-width: 699px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .col-note,
.col-author {
    display: none;
  }

  .col-step {
    max-width: 70px;
  }

  .recipe-list-row .col-button {
    display: none;
  }

  .recipe-list-row {
    grid-template: 1fr/3fr 1fr 1fr;
    grid-template-areas: "name diff len";
  }
}
@media (max-width: 659px) {
  .step-list-row .col-button {
    display: none;
  }
}
@media (max-width: 599px) {
  h1 {
    font-size: 2.1rem;
  }

  .col-difficulty {
    display: none;
  }

  .recipe-list-row {
    grid-template: 1fr/3.5fr 1fr;
    grid-template-areas: "name len";
  }
}
@media (max-width: 569px) {
  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .col-then {
    display: none;
  }

  .step-list-row {
    grid-template: 1fr/minmax(min-content, 80px) minmax(max-content, 120px) minmax(165px, 1fr);
    grid-template-areas: "step                     when                       action";
  }
}
@media (max-width: 494px) {
  h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 424px) {
  .col-length {
    display: none;
  }

  .recipe-list-row {
    grid-template: 1fr/1fr;
    grid-template-areas: "name";
  }

  .col-action {
    white-space: normal !important;
    overflow-wrap: break-spaces;
  }
}
@media (max-width: 409px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .list-header .col-step {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
  .list-header .col-step::before {
    content: "#";
    visibility: visible;
    font-size: 1.25rem;
    position: relative;
    left: 5px;
  }

  .col-step {
    min-width: 30px;
    width: 30px;
  }

  .col-action {
    min-width: 80px;
  }
}
@media (max-width: 359px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  h3 {
    font-size: 1.08rem;
  }

  p {
    font-size: 0.9rem;
  }

  .list-header .col-step {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  .col-step {
    min-width: 30px;
    width: 30px;
  }

  .col-action {
    min-width: 80px;
  }
}
.text-with-ext-link-icon {
  margin: auto 0;
}
.text-with-ext-link-icon .icon-ext-link {
  width: 10px;
}

/*# sourceMappingURL=recipe_list.css.map */
