.recipe-list-container
  display: grid

.recipe-list-item
  display: grid
  grid-gap: 4px
  grid-template: 1fr / 4fr 1fr 1.25fr 1.5fr 1.75fr 0.5fr
  text-align: left
  margin: 0
  span
    border: 1px solid lightcoral
    display: flex
    justify-content: flex-start

.list-header
  border: 1px solid purple
  span
    padding: 0.7rem 0
    font-size: 1.15rem
    font-weight: 700