/*** Recipe Attributes ***/

.recipe-attributes-container
  display: grid
  grid-template: 2fr 2fr / 2fr 2fr
  grid-gap: 4px
  cursor: default
  .recipe-attribute
    //border: 1px dashed green
    display: grid
    grid-template: 1fr / 1fr 4fr
    text-align: left
    .attribute-label,
    .attribute-value
      //border: 1px solid brown
      display: flex
      align-items: center
      width: min-content
      min-width: 100px
      white-space: nowrap
    .attribute-label
      flex-grow: 0
      margin: 0 5px 0 0
      font-size: 1.15rem
      font-weight: 500
    .attribute-value
      flex-grow: 0
      white-space: nowrap

@media (max-width: 661px)
  .recipe-attributes-container
    grid-template: repeat(4, 1fr) / 1fr
    background: lightcoral
    .recipe-attribute
      display: flex


/*** Start/End Controls ***/

.start-finish-container
  border: 1px solid blue
  margin: 4px 0
  display: flex
  align-items: center
  span
    //margin: 0 3px
  button
    margin-left: 5px

  .start-finish-datepicker
    // Long dates & times get cut off at 100%
    //width: 100%
    //width: 137%
    z-index: 1
    margin-left: 2px

  .start-finish-toggle-label
    padding: 0 3px
    cursor: pointer
    font-weight: inherit
    margin-bottom: 0
    border-bottom: black
    border-bottom-style: dotted
    border-bottom-width: 1px

  .start-finish-toggle-label:hover
    border-bottom-style: solid
