/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/*** Color Palette ***/
/*** Default Colors ***/
/*** Page Layout ***/
/*** Debugging ***/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.color-test {
  display: flex;
  justify-content: space-evenly;
  cursor: initial;
}
.color-test span {
  width: 120px;
}

.test-border {
  background: #979aa0;
  color: #121212;
  margin-top: 1em;
}

.test-border-2 {
  background: #696c72;
  color: #f8f8f8;
}

.test1 {
  background: #c7c1ab;
}

.test2 {
  background: #ecece8;
}

.test3 {
  background: #f7ebdd;
}

.test4 {
  background: #dbb37e;
}

.test5 {
  background: #935614;
}

.test6 {
  background: #612c00;
  color: #f5f5f5;
}

.test7 {
  background: #370300;
  color: #f5f5f5;
}

.test8 {
  background: #160000;
  color: #f5f5f5;
}

/*** Fonts ***/
/*** Color Palette ***/
/*** Default Colors ***/
/*** Page Layout ***/
/*** Debugging ***/
.color-test {
  display: flex;
  justify-content: space-evenly;
  cursor: initial;
}
.color-test span {
  width: 120px;
}

.test-border {
  background: #979aa0;
  color: #121212;
  margin-top: 1em;
}

.test-border-2 {
  background: #696c72;
  color: #f8f8f8;
}

.test1 {
  background: #c7c1ab;
}

.test2 {
  background: #ecece8;
}

.test3 {
  background: #f7ebdd;
}

.test4 {
  background: #dbb37e;
}

.test5 {
  background: #935614;
}

.test6 {
  background: #612c00;
  color: #f5f5f5;
}

.test7 {
  background: #370300;
  color: #f5f5f5;
}

.test8 {
  background: #160000;
  color: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  transition: font-size 350ms linear;
}

@media (max-width: 819px) {
  html {
    font-size: 0.9rem;
  }
}
@media (max-width: 699px) {
  html {
    font-size: 0.85rem;
  }
}
@media (max-width: 439px) {
  html {
    font-size: 0.8rem;
  }
}
@media (max-width: 389px) {
  html {
    font-size: 0.75rem;
  }
}
body {
  font-family: "Noto Sans", "IBM Plex Sans", "Roboto", sans-serif;
  font-variant: slashed-zero;
  font-weight: 400;
  color: #121212;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.1;
  white-space: nowrap;
  text-align: left;
  cursor: default;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0 0 0.1em;
  white-space: initial;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: default;
  margin: 0;
}

@media (max-width: 369px) {
  h3 {
    font-size: 1.08rem;
  }

  p {
    font-size: 0.9rem;
  }
}
img {
  display: block;
  max-width: 100%;
}

a {
  color: #003fa3;
  text-decoration: none;
}

a:visited {
  color: #003fa3;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/*** Fonts ***/
/*** Color Palette ***/
/*** Default Colors ***/
/*** Page Layout ***/
/*** Debugging ***/
.color-test {
  display: flex;
  justify-content: space-evenly;
  cursor: initial;
}
.color-test span {
  width: 120px;
}

.test-border {
  background: #979aa0;
  color: #121212;
  margin-top: 1em;
}

.test-border-2 {
  background: #696c72;
  color: #f8f8f8;
}

.test1 {
  background: #c7c1ab;
}

.test2 {
  background: #ecece8;
}

.test3 {
  background: #f7ebdd;
}

.test4 {
  background: #dbb37e;
}

.test5 {
  background: #935614;
}

.test6 {
  background: #612c00;
  color: #f5f5f5;
}

.test7 {
  background: #370300;
  color: #f5f5f5;
}

.test8 {
  background: #160000;
  color: #f5f5f5;
}

input,
select,
textarea {
  font-family: inherit;
  background: #f8f8f8;
  color: #121212;
  border: 1px solid #979aa0;
  border-radius: 0.2em;
  margin: 0;
  cursor: text;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #696c72;
}

input[type=text],
input[type=number],
select {
  height: 2em;
}

input[type=text] {
  padding: 0.5em 0.5em;
}

input[type=text]:placeholder-shown {
  font-style: italic;
}

input[type=number] {
  padding: 0 0.5em;
  width: max-content0.5em;
}

textarea {
  padding: 0.3em 0.5em;
}

textarea:disabled,
textarea:read-only {
  background: #f8f8f8;
}

select {
  padding: 0 0.2em;
}

/*** Fonts ***/
/*** Color Palette ***/
/*** Default Colors ***/
/*** Page Layout ***/
/*** Debugging ***/
.color-test {
  display: flex;
  justify-content: space-evenly;
  cursor: initial;
}
.color-test span {
  width: 120px;
}

.test-border {
  background: #979aa0;
  color: #121212;
  margin-top: 1em;
}

.test-border-2 {
  background: #696c72;
  color: #f8f8f8;
}

.test1 {
  background: #c7c1ab;
}

.test2 {
  background: #ecece8;
}

.test3 {
  background: #f7ebdd;
}

.test4 {
  background: #dbb37e;
}

.test5 {
  background: #935614;
}

.test6 {
  background: #612c00;
  color: #f5f5f5;
}

.test7 {
  background: #370300;
  color: #f5f5f5;
}

.test8 {
  background: #160000;
  color: #f5f5f5;
}

.btn {
  height: 2.5em;
  width: 7em;
  text-align: center;
  margin: 0;
  border-radius: 0.2em;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.2s;
}

.btn:disabled {
  opacity: 0.5;
  border: none;
}

.btn:disabled:active,
.btn:disabled:focus,
.btn:disabled:hover {
  opacity: 0.5;
  border: none;
  cursor: default;
}

.btn-default {
  background: #ecece8;
  color: #241933;
  border: 1px solid #979aa0;
}

.btn-default:focus,
.btn-default:hover {
  background: #ddddd9;
  border: 1px solid #696c72;
}

.btn-default:active {
  border: 2px solid #696c72;
}

.btn-default-reverse {
  background: #9a9a97;
  color: #f8f8f8;
  border: 1px solid #696c72;
}
.btn-default-reverse img {
  transition: all 0.2s;
  filter: invert(97%) sepia(69%) saturate(201%) hue-rotate(209deg) brightness(112%) contrast(86%);
}

.btn-default-reverse:focus,
.btn-default-reverse:hover {
  background: #babab6;
  color: #121212;
  border: 1px solid #979aa0;
}
.btn-default-reverse:focus img,
.btn-default-reverse:hover img {
  filter: invert(0%) sepia(1%) saturate(5017%) hue-rotate(319deg) brightness(93%) contrast(86%);
}

.btn-default-reverse:active {
  border: 2px solid #696c72;
}

.btn-edit-mode {
  height: 2.25em;
  width: 2.5em;
  border: 1px solid rgba(151, 154, 160, 0.6);
  background: #eeeeee;
}
.btn-edit-mode .icon-button {
  height: 60%;
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%);
}

.btn-edit-mode:hover,
.btn-edit-mode:focus {
  border-color: #979aa0;
  background: #ddd;
}

.btn-edit-mode:active {
  background: #ccc;
}

.btn-reset,
.btn-cancel {
  margin: 0 0.25em;
}

.btn-save,
.btn-submit,
.btn-add {
  background: #935614;
  color: #f5f5f5;
  border: 1px solid #612c00;
  line-height: 1;
}

.btn-save:hover,
.btn-save:focus,
.btn-add:hover,
.btn-add:focus {
  background: #612c00;
  color: #f5f5f5;
  border: 1px solid #370300;
}

.btn-save:active,
.btn-add:active {
  border-color: #f8f8f8;
}

.btn-save:disabled,
.btn-submit:disabled,
.btn-add:disabled {
  background: #935614;
}

.btn-add {
  margin: 0;
  font-weight: 400;
  white-space: nowrap;
  height: 2em;
  width: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-add .icon-add {
  background: inherit;
  margin-right: 0.2em;
  height: 1.1em;
}

.btn-collapsed.btn-add {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-submit {
  background-color: #160000;
  border-color: #160000;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #252525;
}

.btn-submit:active {
  border-color: white;
}

.btn-delete {
  border: none;
  border-radius: 0.625em;
  height: 1em;
  width: 1em;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-delete:hover,
.btn-delete:focus {
  background: #f8f8f8;
}

/*** Fonts ***/
/*** Color Palette ***/
/*** Default Colors ***/
/*** Page Layout ***/
/*** Debugging ***/
.color-test {
  display: flex;
  justify-content: space-evenly;
  cursor: initial;
}
.color-test span {
  width: 120px;
}

.test-border {
  background: #979aa0;
  color: #121212;
  margin-top: 1em;
}

.test-border-2 {
  background: #696c72;
  color: #f8f8f8;
}

.test1 {
  background: #c7c1ab;
}

.test2 {
  background: #ecece8;
}

.test3 {
  background: #f7ebdd;
}

.test4 {
  background: #dbb37e;
}

.test5 {
  background: #935614;
}

.test6 {
  background: #612c00;
  color: #f5f5f5;
}

.test7 {
  background: #370300;
  color: #f5f5f5;
}

.test8 {
  background: #160000;
  color: #f5f5f5;
}

.header-container {
  background: #160000;
  color: #f5f5f5;
  margin: 0;
  padding: 0.25em 1em;
  font-size: 1.5rem;
}
.header-container .nav-content {
  text-align: center;
}
.header-container .nav-content .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-container .nav-content .nav-link {
  display: inline;
  color: #f5f5f5;
  text-decoration: none;
}
.header-container .nav-content .nav-link:hover,
.header-container .nav-content .nav-link:focus {
  color: #ffffff;
}

/*** Page-Level ***/
.app-container {
  background: #f8f8f8;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.header-container,
.content-container,
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  margin: 0.65em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*** Other ***/
.loading-icon-title {
  height: 2em;
}

.page-title {
  padding-bottom: 0.15em;
}

.page-title-border {
  border-bottom: 1px solid gray;
}

.difficulty-icon {
  height: 1.3em;
  position: relative;
  margin: 0 0.333em;
}

.difficulty-icon .difficulty-tooltip-text {
  width: auto;
  background-color: #282c34;
  color: #EEEEEE;
  text-align: center;
  padding: 0.375em 0;
  border-radius: 0.375em;
  position: absolute;
  z-index: 1;
}

.difficulty-icon:hover .difficulty-tooltip-text {
  display: block;
}

.icon-delete {
  background-color: #f8f8f8;
  height: 100%;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background: #282c34;
  color: #EEEEEE;
  outline-color: #da532c;
}

.icon-ext-link {
  display: inline;
  max-height: 0.55em;
  max-width: 0.55em;
  margin-left: 0.25em;
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%);
}

.icon-transparent {
  background: #f8f8f8;
}

.show-hidden {
  display: inline;
  visibility: visible;
}

.hidden {
  display: none !important;
}

/*** Active Elements ***/
.footer-container {
  font-size: 0.8rem;
  margin: 1em;
  cursor: default;
  display: flex;
  opacity: 0.75;
}
.footer-container .footer-link {
  margin-left: 0.35em;
}
.footer-container .icon-bread {
  margin-left: 0.2em;
  height: 1em;
}

@media (max-width: 494px) {
  .footer-container {
    justify-content: center;
    transition: all 0.35s;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .icon-bread {
    animation: spinning-bread infinite 20s linear;
  }

  .start-finish-save-confirmation {
    animation: 1 ease-in 2s linear;
  }
}
@keyframes spinning-bread {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
