.App {
  font-style: normal;
  margin: 3px;
}

.nav-bar {
  margin-left: 10px;
  margin-bottom: 5px;
}

.nav-list {
  margin-right: 8px;
}

.loading-icon-table {
  height: 20px;
}

.loading-icon-title {
  height: 50px;
}

a:link {
  text-decoration: none;
  color: #037caf;
}

a:visited {
  color: #3f5efc;
}

a:hover {
  text-decoration: underline;
  color: #0040ff;
}

a:active {

}

.header-hamburger {
  column-width: min-content;
  alignment: left;
  horiz-align: left;
  height: 40px;
  width: 40px;
  vertical-align: center;
}

.header-hamburger-logo {
  /*height: 40vmin;*/
  height: 40px;
  vertical-align: center;
}

.header-title {
  column-width: max-content;
  text-align: left;
  vertical-align: center;
  cursor: default;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: initial;
}

.App-footer {
  font-size: small;
  margin-left: 3px;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

.page-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
  cursor: default;
}

.recipe-list-item {
  text-align: left;
  margin-left: 3px;
}

.table-header-row {
  text-align: left;
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 5px;
  cursor: default;
}

.recipe-table {
  padding-left: 5px;
  margin-left: 5px;
}

.recipe-table-list {
  text-align: left;
  margin-left: 3px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  padding: 5px;
  line-height: 20px;
}

.recipe-table-list tr:nth-child(odd) {
  background-color: #EEEEEE;
}

.delete-recipe-button {
  background-color: white;
  color: darkred;
  font-weight: bolder;
  height: 12px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-recipe-button-column {
  background-color: #FFFFFF;
}

.add-recipe-toggle-button {
  height: 25px;
  margin-left: 7px;
  margin-right: 3px;
  margin-top: 15px;
  cursor: pointer;
}

.add-recipe-toggle-label {
  line-height: 30px;
  vertical-align: text-bottom;
  cursor: pointer;
}

.add-recipe-form {
  margin-top: 5px;
  margin-left: 10px;
}

.add-recipe-form-label {
  margin-right: 8px;
  alignment: right;
}

.add-recipe-form-textbox {
  alignment: right;
}

.recipe-detail-summary-table {
  margin-bottom: 5px;
}

.recipe-detail-summary-table-label {
  font-weight: bold;
  justify-content: right;
  cursor: default;
}

.recipe-detail-summary-table-value {
  color: #282c34;
  padding-right: 15px;
  cursor: default;
}

.start-finish-datepicker {
  /* Long dates & times get cut off at 100% */
  width: 100%;
  /*width: 137%;*/
}

.react-datepicker {
  width: 250px;
}

.react-datepicker__input-container {
  width: 100%;
}

.recipe-start-end {
  margin-left: 3px;
}

.start-finish-selector {
  padding-right: 4px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .header-hamburger {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
