.App {
  font-style: normal;
}

.header-hamburger {
  column-width: min-content;
  alignment: left;
  horiz-align: left;
  height: 40px;
  vertical-align: center;
}

.header-hamburger-logo {
  /*height: 40vmin;*/
  height: 40px;
  vertical-align: center;
}

.header-title {
  column-width: max-content;
  text-align: left;
  vertical-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: initial;
}

.App-footer {
  font-size: small;
  margin-left: 3px;
}

.App-link {
  color: #61dafb;
}

.page-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
}

.recipe-list-item {
  text-align: left;
  margin-left: 3px;
}

.table-header-row {
  text-align: left;
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 5px;
}

.recipe-table {
  padding-left: 5px;
  margin-left: 5px;
}

.recipe-table-list {
  text-align: left;
  margin-left: 3px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  padding: 5px;
  line-height: 20px;
}

.recipe-table-list tr:nth-child(odd) {
    background-color: #EEEEEE;
}

a:link {
  text-decoration: none;
  color: #037caf;
}

a:visited {
  color: #3f5efc;
}

a:hover {
  text-decoration: underline;
  color: #0040ff;
}

a:active {

}

@media (prefers-reduced-motion: no-preference) {
  .header-hamburger {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
