.App {
	font-style: normal;
	/*margin: 3px;*/
}

.navbar {
	overflow: hidden;
	/*margin-left: 10px;*/
	margin-bottom: 5px;
	background-color: #282c34;
	font-weight: normal;
	font-size: 20pt;
	vertical-align: center;
}

.navbar a, a:visited {
	float: left;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}

.navbar a:hover, .dropdown:hover .nav-dropdown-label {
	background-color: rgb(77, 94, 124);
	cursor: pointer;
}

.nav-dropdown {
	float: left;
}

.nav-dropdown, .nav-dropdown a, .nav-dropdown-label {
	color: white;

	/*font-size: 20pt;*/

	margin: 0;
	border: none;
	/*padding: 2px 16px;*/

	overflow: hidden;
	outline: none;
	cursor: pointer;
}

.nav-dropdown-content {
	display: none;
	/*color: darkblue;*/
	/*background-color: #f9f9f9;*/
	font-weight: normal;

	position: absolute;
	left: auto;
	top: 33px;

	/*outline: #282c34 groove 1px;*/

	box-shadow: 0px 4px 152px 0px rgba(0, 0, 0, .7);
	min-width: auto;
	z-index: 1;
}

.nav-dropdown-content a {
	display: block;
	float: none;
	overflow: hidden;

	/*color: black;*/
	/*background-color: rgb(125, 154, 204);*/
	color: rgb(77, 94, 124);
	background-color: white;

	padding: 6px 8px;
	font-size: medium;
	text-decoration: none;
	text-align: left;
}

.nav-dropdown-content a:hover {
	background-color: #ddd;
}

.nav-dropdown:hover .nav-dropdown-content {
	display: block;
}

.website-title {
	/*column-width: max-content;*/
}

.loading-icon-table {
	height: 20px;
}

.loading-icon-title {
	height: 50px;
}

.recipe-list-item-name a:hover {
	color: #0040ff;
	/*color: #037caf;*/
}

.App-footer {
	font-size: small;
	margin-left: 3px;
	margin-top: 20px;
}

.App-link {
	color: #61dafb;
}

.page-title {
	font-size: xx-large;
	font-weight: bold;
	text-align: left;
	margin-left: 5px;
	cursor: default;
}

.recipe-table-container {
	margin-left: 5px;
}

.recipe-detail-container {
	margin-left: 5px;
}

.text-conversion-container {
	margin-left: 5px;
}

.table-header-row {
	text-align: left;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 5px;
	cursor: default;
}

.recipe-table {
	padding-left: 5px;
	margin-left: 5px;
}

.recipe-table a:link {
	text-decoration: none;
	color: #037caf;
	/*color: #0040ff;*/
}

.recipe-table a:visited {
	color: #3f5efc;
}

.recipe-table a:hover {
	text-decoration: underline;
	color: #0040ff;
}

.recipe-table a:active {

}

.recipe-table-list {
	text-align: left;
	margin-left: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDDDDD;
	padding: 5px;
	line-height: 20px;
}

.recipe-table-list tr:nth-child(odd) {
	background-color: #EEEEEE;
}

.recipe-table-list-item {
	text-align: left;
	margin-left: 3px;
}

.delete-recipe-button {
	background-color: white;
	color: darkred;
	font-weight: bolder;
	height: 12px;
	margin-right: 5px;
	cursor: pointer;
}

.delete-recipe-button-column {
	background-color: #FFFFFF;
}

.add-recipe-toggle-button {
	height: 25px;
	margin-left: 7px;
	margin-top: 15px;

	/* Add space between label & icon, but ensure that space is still clickable*/
	padding-right: 3px;

	cursor: pointer;
}

.add-recipe-toggle-label {
	line-height: 30px;
	vertical-align: text-bottom;
	cursor: pointer;
}

.add-recipe-form {
	margin-top: 5px;
	margin-left: 10px;
}

.add-recipe-form-label {
	margin-right: 8px;
	alignment: right;
}

.add-step-form-number-label {
	margin-right: 2px;
	alignment: right;
}

.add-recipe-form-textbox {
	alignment: right;
}

.recipe-detail-summary-table {
	margin-bottom: 5px;
}

.recipe-detail-summary-table-label {
	font-weight: bold;
	alignment: right;
	cursor: default;
	padding-right: 10px;
}

.recipe-detail-summary-table-value {
	color: #282c34;
	padding-right: 15px;
	cursor: default;
}

.react-datepicker {
	width: 250px;
}

.react-datepicker__input-container {
	width: 100%;
}

.recipe-start-end {
	margin-left: 3px;
	margin-bottom: 10px;
}

.start-finish-datepicker {
	/* Long dates & times get cut off at 100% */
	width: 100%;
	/*width: 137%;*/
}

.start-finish-toggle {
	padding-right: 4px;
	cursor: pointer;
}

.step-table {
	font-size: medium;
	width: 100%;
	column-width: auto;
}

.step-table-column-header {
	cursor: default;
}

.step-table-list tr:nth-child(odd) {
	background-color: #EEEEEE;
}

.step-table-list-item-number {
	text-align: right;
	padding-right: 6px;
}

.step-table-list-item-then-wait-header {
	width: 91px;
	margin-right: 5px;
}

.step-table-list-item-then-wait {
	width: 91px;
	margin-right: 5px;
}

.then-wait-hh-input {
	width: 30px;
	margin-right: 2px;
}

.then-wait-mm-input {
	width: 30px;
	margin-left: 2px;
}

.bread-clipart-container .bread-clipart-container-reverse {
	alignment: left;

	column-width: min-content;
	horiz-align: left;
	vertical-align: center;

	height: 30px;
	width: 30px;
}

.bread-clipart-image {
	column-width: min-content;

	alignment: left;
	horiz-align: left;
	vertical-align: center;

	height: 25px;
	width: 25px;
}

@media (prefers-reduced-motion: no-preference) {
	.bread-clipart-image {
		animation: App-logo-spin infinite 20s linear;
	}

	.bread-clipart-container-reverse {
		animation: App-logo-spin-reverse infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes App-logo-spin-reverse {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
